<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- yukarıdaki kod tarayıcının sayfayı responsive olarak algılamasını sağlar. -->
    <title>Nature</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>


    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

    <!-- CSS,CDN AND RESET CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- *** --------HEADER--------- *** -->

    <header>
        <div class="container">
            <div class="logo d-block">
                <a href="#"><img src="../img/logo1.png" alt="logo"></a>
            </div>
            <div class="menuAbout">
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="../template/natures.html">GALLERY</a></li>
                    <li><a href="../template/about.html">About</a></li>
                    <li><a href="../template/contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </header>



    <!-- *** ----------MAIN SECTION---------- *** -->
    <video id="videoBg" autoplay muted loop>
        <source src="../img/aboutVideo.mp4" type="video/mp4">
    </video>
    <!-- Arka plan için video ekledim -->
    <section id="aboutSlider" class="aboutSlider">
        <div id="aboutCaption" class="caption">
            <h1 class="title h1">ABOUT</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, similique!</p>
        </div>
    </section>



    <!-- OUR HISTORY SECTION -->
    <section id="ourHistory" class="sectionArea">
        <div class="ourHistoryTop">
            <h2 class="sectionHeader">
                OUR HISTORY
            </h2>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        <div class="ourHistoryBody">
            <div class="ourContainerFluid">
                <div class="col2">
                    <div class="year">
                        <p>1999</p>
                    </div>
                    <div class="ourImage">
                        <img src="../img/pic14 1920x1280.jpg">
                    </div>
                    <div class="ourText">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Nobis beatae minus animi?</p>
                    </div>
                </div>

                <div class="col2">
                    <div class="year">
                        <p>1999</p>
                    </div>
                    <div class="ourImage">
                        <img src="../img/pic14 1920x1280.jpg">
                    </div>
                    <div class="ourText">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Nobis beatae minus animi?</p>
                    </div>
                </div>
            </div>


            <!-- DİĞER CONTEINER-FLUID -->
            <div class="ourContainerFluid">
                <div class="col2">
                    <div class="year">
                        <p>1999</p>
                    </div>
                    <div class="ourImage">
                        <img src="../img/pic14 1920x1280.jpg">
                    </div>
                    <div class="ourText">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Nobis beatae minus animi?</p>
                    </div>
                </div>


                <div class="col2">
                    <div class="year">
                        <p>1999</p>
                    </div>
                    <div class="ourImage">
                        <img src="../img/pic14 1920x1280.jpg">
                    </div>
                    <div class="ourText">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Nobis beatae minus animi?</p>
                    </div>
                </div>
            </div>



    </section>

    <!-- *** ---------FOOTER SECTION--------- *** -->


    <footer class="sectionArea">
        <div class="container">

            <!-- containerı 3'e böldüm -->
            <div class="col-3">
                <div class="footerItem">
                    <h3>WELCOME TO OUR SITE</h3>
                    <div class="logo">
                        <a href="#"><img src="../img/logo1.png" alt="logo"></a>
                    </div>
                    <p>Neque fugiat aperiam illum quia quos velit.</p>
                </div>
            </div>



            <div class="col-3">
                <div class="footerItem">
                    <h3>QUICK LINK</h3>
                    <ul class="footerLinks">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="../template/natures.html">GALLERY</a></li>
                        <li><a href="../template/about.html">About</a></li>
                        <li><a href="../template/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>



            <!-- sosyal medya linklerini ekledim -->
            <div class="col-3">
                <div class="footerItem">
                    <h3>BE SOCIAL WITH US</h3>
                    <ul class="socialLinks">
                        <li>
                            <a href="https://tr-tr.facebook.com/" target="_blank">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>

                        <li>
                            <a href="http://twitter.com" target="_blank">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://linkedin.com" target="_blank">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </footer>
</body>

</html>