<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- yukarıdaki kod tarayıcının sayfayı responsive olarak algılamasını sağlar. -->
    <title>Nature</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>


    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

    <!-- CSS,CDN AND RESET CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- *** --------HEADER--------- *** -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <div class="logo d-block">
                <a href="#"><img src="../img/logo1.png" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse menu" id="navbarNavDropdown">
                <ul class="w-100 d-flex justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../template/natures.html">GALLERY</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../template/about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../template/contact.html">Contact</a>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler navbar-dark " type="button" data-toggle="collapse"
                data-target="#navbarNavDropdown">
                <span class="navbar-toggler-icon text-end "></span>
            </button>
        </div>
    </nav>


    <!-- *** ----------MAIN SECTION---------- *** -->
    <section id="galerrySlider" class="gallerySlider">
        <div id="galleryCaption" class="caption">
            <h1 class="title h1">GALLERY</h1>
            <p>We are here to share with you the marvellous landscapes that nature offers us.</p>
        </div>
    </section>



    <!-- INSPECT SECTION -->
    <section id="inspect" class="sectionArea">
        <div class="inspectTop">
            <h2 class="sectionHeader">
                INSPECT
            </h2>
            <p>The Splendour of Mountains: Journey to the Peaks</p>
        </div>
        <div class="inspectBody">

            <!-- BODY'i 2 Satır 2 Sütun Olarak Oluşturdum. -->
            <div class="container">
                <!-- ***------SATIR-1 SUTUN-1------*** -->
                <div class="col-2">
                    <div class="inspectImage">
                        <img src="../img/pic5.jpg">
                    </div>
                    <div class="inspectText">
                        <p class="date">Mart 20,2022</p>
                        <h4>Hills</h4>
                        <p>The peaks of the mountains are a symbol of approaching the sky. </p>
                        <a href="#">Read More</a>
                    </div>
                </div>



                <!-- ***------SATIR-1 SUTUN-2------*** -->
                <div class="col-2">
                    <div class="inspectImage">
                        <img src="../img/pic5.jpg">
                    </div>
                    <div class="inspectText">
                        <p class="date">Mart 20,2022</p>
                        <h4>Hills</h4>
                        <p>The peaks of the mountains are a symbol of approaching the sky. </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>


            <div class="container">

                <!-- ***------SATIR-2 SUTUN-1 ------*** -->
                <div class="col-2">
                    <div class="inspectImage">
                        <img src="../img/pic5.jpg">
                    </div>
                    <div class="inspectText">
                        <p class="date">Mart 20,2022</p>
                        <h4>Hills</h4>
                        <p>The peaks of the mountains are a symbol of approaching the sky. </p>
                        <a href="#">Read More</a>
                    </div>
                </div>



                <!-- ***------SATIR-2 SUTUN-2------*** -->
                <div class="col-2">
                    <div class="inspectImage">
                        <img src="../img/pic5.jpg">
                    </div>
                    <div class="inspectText">
                        <p class="date">Mart 20,2022</p>
                        <h4>Hills</h4>
                        <p>The peaks of the mountains are a symbol of approaching the sky. </p>
                        <a href="#">Read More</a>
                    </div>
                </div>
            </div>


        </div>
    </section>



    <!-- PARALLAX-2 SECTION -->
    <section id="parallax-2" class="sectionArea">
        <div class="parallax-2-Top">
            <h3 class="sectionHeader">PARALLAX</h3>
            <p class="mb-4">When you step into a forest, you feel a hidden vitality in the silence.</p>
        </div>
        <div class="parallax-2-Body">
            <div class="containerFluid">
                <div class="prlxCaption">
                    <div class="col-2">
                        <div class="prlxInfo">
                            <h3>Forest</h3>
                            <p class="parallax-2-text">
                                Forests are mysterious places waiting to be explored. You can find a different view at
                                every corner and a new surprise on every path. Wandering among the lush green trees is
                                like a journey in the lap of nature.
                            </p>
                            <button type="button" class="prlx-2-Btn">Learn More</button>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="prlxInfo-2">
                            <ul class="prlx-2-Detail">
                                <li>Stock</li>
                                <li>Collection</li>
                                <li>Copyright</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- *** ---------FOOTER SECTION--------- *** -->


    <footer class="sectionArea">
        <div class="container">

            <!-- containerı 3'e böldüm -->
            <div class="col-3">
                <div class="footerItem">
                    <h3>WELCOME TO OUR SITE</h3>
                    <div class="logo">
                        <a href="#"><img src="../img/logo1.png" alt="logo"></a>
                    </div>
                    <p>Neque fugiat aperiam illum quia quos velit.</p>
                </div>
            </div>



            <div class="col-3">
                <div class="footerItem">
                    <h3>QUICK LINK</h3>
                    <ul class="footerLinks">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="../template/natures.html">GALLERY</a></li>
                        <li><a href="../template/about.html">About</a></li>
                        <li><a href="../template/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>



            <!-- sosyal medya linklerini ekledim -->
            <div class="col-3">
                <div class="footerItem">
                    <h3>BE SOCIAL WITH US</h3>
                    <ul class="socialLinks">
                        <li>
                            <a href="https://tr-tr.facebook.com/" target="_blank">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>

                        <li>
                            <a href="http://twitter.com" target="_blank">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://linkedin.com" target="_blank">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>
    </footer>
</body>

</html>